<!DOCTYPE html>
<html lang="en" data-appsurface-docs-consumer-layout="host">
<head>
    <meta charset="utf-8" />
    <title>Consumer host layout</title>
</head>
<body>
    <p>This content proves the consuming application's generic layout won.</p>
    @RenderBody()
</body>
</html>
