@model ForgeTrust.AppSurface.Web.BrowserStatusPageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<body>
    <p>Local test assembly 401</p>
    <p>@Model.StatusCode</p>
</body>
</html>
