@model ForgeTrust.AppSurface.Web.BrowserStatusPageModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<body>
<main>
    <p>Local test assembly 404</p>
    <p>Path: @Model.OriginalPath</p>
</main>
</body>
</html>
